.auth_container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.auth_container img {
  margin: 30px auto;
  object-fit: contain;
  width: 100px;
}

.form_container {
  width: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

.form_container h1 {
  font-size: 25px;
  margin: 20px 0;
}

.form_container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form_container form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form_container form input {
  margin-bottom: 10px;
  padding: 8px 16px;
  width: 100%;
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
}

.form_container form input:focus {
  outline: 2px solid var(--primary-color);
  border: 2px solid var(--primary-color);
}

.signIn_btn {
  border: none;
  background: #f0c14b;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.signIn_btn:hover {
  background-color: var(--primary-shade);
}

.form_container p {
  padding: 10px 0;
  font-size: 14px;
}

.signUp_btn {
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.signUp_btn:hover {
  background-color: lightgray;
}
